.cart {
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: #fff;

    box-shadow: -5px 10px 52px rgba(90, 92, 102, 0.06);

    transition: all 0.3s ease;

    &.hidden {
        transform: translateX(100%);
        box-shadow: none;
    }

    .container {
        width: 435px;

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-y: scroll;
    }

    .header {
        margin: 20px 0 0 0;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #f0f0f5;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;

            color: #000000;
        }

        button {
            width: 20px;
            height: 20px;

            background-color: #fff;
            border: none;

            cursor: pointer;
        }
    }

    .total {
        margin: 15px 0 0 0;
        padding: 20px 0 0 0;

        border-top: 1px solid #f0f0f5;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .checkoutBtn {
        margin: 40px 0 0 0;
    }
}
