.card {
    width: 275px;
    height: 275px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: #c3c3c3;

    h2 {
        font-size: 18px;
        color: #000;
    }
}
